{{ define "start"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <meta name="robots" content="index, follow" />
    <meta name="author" content="FACT-Finder" />
    <meta name="description" content="Noflake - a flaky tests tracker" />

    <title>{{ .Title }} - noflake</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/ui/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>{{ .Title }} - noflake</h1>
      {{ end }}{{define "end"}}
    </div>
  </body>
</html>
{{ end }}
